.screen-reader-text
    display: none

.navigation
    margin-top: 50px
    position relative
    .nav-links
        display: flex
        justify-content: flex-end
        align-items: center
    .page-numbers
        font-size: 18px
        display inline-block
        margin-left: 10px
        &:not(.current)
            margin-bottom: 1px
    [class^="icon-"]
        font-size: 30px
    .current
        border-radius: 100%
        background: $color.secondary
        color: #fff
        width: 23px
        height 23px
        text-align: center
    &::before
        content: ''
        width: 85%
        height: 1px
        background: #b3b4b6
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)